* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --orange: #930;
  --silver: #ccc;
  --dark-silver: #999;
  --bright-silver: #eee;
  --onyx: #333;
  --dark-onyx: #222;
  --blue: #399;
  --deep-blue: #369;
  --magenta: #939;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: var(--dark-silver);
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: var(--deep-blue);
}

a:hover {
  color: var(--magenta);
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid var(--silver);
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
  background-color: var(--deep-blue);
  color: var(--bright-silver);
  padding: 0.5em 2em;
  border-radius: 5px;
}

.pure-button-primary {
  background: var(--bright-silver);
  color: var(--deep-blue);
  border-radius: 5px;
  font-size: 120%;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.home-menu {
  background: var(--onyx);
}
.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: var(--silver);
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-list {
  padding: 0.5em 1em;
  color: var(--silver);
  vertical-align: middle;
  display: inline-block;
}

.home-menu .pure-menu-selected a,
.home-menu .pure-menu-selected a:visited {
  color: var(--silver);
}

.home-menu a {
  color: var(--silver);
}
.home-menu li a:hover,
.home-menu li a:focus,
.home-menu li a:hover:visited,
.home-menu li a:focus:visited {
  background: none;
  border: none;
  color: var(--blue);
}

/*
 * -- SPLASH STYLES --
 */

.splash-container {
  background: var(--orange);
  z-index: 1;
  overflow: scroll;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 88vh;
  top: 0;
  left: 0;
  position: fixed !important;
}
.splash > :last-child > :last-child {
  margin-bottom: 1em;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: var(--silver);
  border: 3px solid var(--silver);
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.game-zone {
  font-size: 20px;
  font-weight: bold;
  color: var(--silver);
  border: 3px solid var(--silver);
  padding: 1em 0em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
}

.splash-subhead {
  color: var(--silver);
  letter-spacing: 0.05em;
  opacity: 0.8;
}

/*
 * -- CONTENT STYLES --
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: relative;
  top: 88vh;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: var(--silver);
  color: var(--onyx);
}

/* We want to give the content area some more padding */
.content {
  padding: 1em 1em 3em;
}

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}

.content-head a {
  text-decoration: none;
}

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: var(--bright-silver);
}

/* This is the class used for the content sub-headers (<h3>) */
.content-subhead {
  color: var(--magenta);
}
.content-subhead i {
  margin-right: 7px;
}

/* This is the class used for the dark-background areas. */
.ribbon {
  background: var(--onyx);
  color: var(--silver);
}

.ribbon a {
  color: var(--silver);
}

/* This is the class used for the footer */
.footer {
  margin-top: 87vh;
  position: relative;
  background: var(--dark-onyx);
  color: var(--dark-silver);
  width: 100%;
  z-index: 4;
}
.footer a {
  color: var(--dark-silver);
}

.socials {
  margin: 0em 0;
}

.socials-icon {
  font-size: 30px;
  margin: 0em 0.5em 0em 0.5em;
  color: var(--deep-blue);
}

.socials-icon:hover {
  color: var(--magenta);
}

/*
 * -- TABLET (AND UP) MEDIA QUERIES --
 * On tablets and other medium-sized devices, we want to customize some
 * of the mobile styles.
 */
@media (min-width: 48em) {
  /* We increase the body font size */
  body {
    font-size: 16px;
  }

  /* We can align the menu header to the left, but float the
    menu items to the right. */
  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

  /* We increase the height of the splash-container */
  /*    .splash-container {
        height: 500px;
    }*/

  /* We decrease the width of the .splash, since we have more width
    to work with */
  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }

  /* We remove the border-separator assigned to .l-box-lrg */
  .l-box-lrg {
    border: none;
  }
}

/*
 * -- DESKTOP (AND UP) MEDIA QUERIES --
 * On desktops and other large devices, we want to over-ride some
 * of the mobile and tablet styles.
 */
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}
.cursor {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: crimson; */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /*  */
  transition: background-color 0.2s ease;
  z-index: 4;
}
.link-hero-of-time,
.fairy-of-the-fountain,
.game-item,
.game-npc,
.game-text {
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: crimson; */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /*  */
  transition: background-color 0.2s ease;
  z-index: 3;
}

#game-zone {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
